ion-slides {
  height: calc(100% - 72px);
}
.swiper-pagination,
.swiper-pagination-custom {
  top: 0px;
}
.swiper-pagination-progress .swiper-pagination-progressbar {
  background: red;
}
.swiper-pagination-progress {
  background: rgba(var(--ion-color-secondary), 0.12);
}
.swiper-slide {
  font-size: 1rem;
}
.slide-zoom {
  height: 100%;
  padding: 64px 0 0;
}
